.main-credits {
    margin: 7rem auto;
    width: 90%;
}

.credit-head {
    text-align: center;
    margin: 4rem 0;
}

.carouselItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 10px;
}
.carouselItem__txt{
    margin-top: 1rem;
}
.carouselItem__img {
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.2);
}
